* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.header, .footer { 
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 75px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    
}
/* Navigation part */

.header-container {
    box-sizing: border-box;
    display: flex;
    min-width: 1120px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.header h1{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
li a {
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;  
}
/*Main page */
.central-part {  
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
/*Hero section*/
.hero {
    display: flex;
    height: 350px;
    flex-grow: 1;
    background-color: #1f2937;
    color: #f9faf8;    
}
.hero .wrapper {
    margin: 10px;
    padding:10px;
    min-width: 1120px;
    margin: auto;
    display: flex; 
}
.sidebar-left {
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    flex: 0 1 38%;    
    padding: 0px 10px;   
}
.sidebar-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 5px 0px;
}
.sidebar-left p {
    margin: 5px 0px;
}
.sidebar-right{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    flex: 0 1 58%;      
}
.placeholder {
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 5px 0px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 12px;
    padding: 5px 10px;
    box-shadow:2px solid rgb(31, 41, 55, 0.5);
    border-radius: 5px;
}
/*Flexboxes */
.flexboxes {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 1120px;    
    margin: 30px 0px;
}
.flexboxes .wrapper {
    display: flex;
    flex-direction: column;
}
.text {
    margin-top: 10px;
    flex:1;
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;  
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.card p {
    text-align: center;
}
/*Testimonial*/
.testimonial {
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    padding: 30px 10px;
    height: 300px;   
}
.testimonial .wrapper {
    max-width: 1120px;  
    margin: auto;
    display: flex;   
    flex-direction: column;
}
.testimonial .wrapper p {
    margin: 0px;
    font-style: italic;  
}
#thor {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0px;   
    font-weight: bold;
    text-align: right;   
}
/*Modal */
.modal {
    height: 300px;
    min-width: 1120px; 
    margin: auto;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.modal .wrapper {
    min-width: 400px;
    min-height: 150px;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    min-width: 1120px; 
    border-radius: 10px;
    color: #f9faf8;
    gap: 200px;
}
.modal-left h1 {
    font-size: 36px;
    font-weight: bolder;
}
.modal-left p {
    
    
}
.modal-button button {
    font-size: 18px;
    padding: 14px;
    border: 2px solid #f9faf8;
}